body {
  background: rgb(9, 235, 54);
  background: linear-gradient(
    14deg,
    rgba(9, 235, 54, 0.785049053801208) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

html,
body {
  height: 100%;
}

.bocal {
  border-radius: 8px;
  background-color: white;

  position: fixed;
  top: 11%;
  bottom: 5%;
  left: 4%;
  right: 4%;

  padding: 2%;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  justify-content: space-between;
}

/*.sectionNom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}*/
