body {
  background: rgb(9, 235, 54);
  background: linear-gradient(
    14deg,
    rgba(9, 235, 54, 0.785049053801208) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

html,
body {
  height: 100%;
}

.bocal {
  border-radius: 8px;
  background-color: white;

  position: fixed;
  top: 11%;
  bottom: 5%;
  left: 4%;
  right: 4%;

  padding: 2%;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  justify-content: space-between;
}

.sommaire {
  /*margin-left: 8%;
  margin-right: 9%;*/

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contenu {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 2;
  width: 60%;
  padding-right: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: auto;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: rgb(4, 182, 78);
  border-radius: 13px;
}

.titresommaire {
  margin-bottom: 10px;
  transition: 200ms;
}

.titresommaire:hover {
  color: rgb(4, 182, 78);
  cursor: pointer;
}

.clickos {
  background-color: white;
  border: solid rgb(4, 182, 78) 1px;
  color: rgb(4, 182, 78);

  transition: 220ms;
}

.clickos:hover {
  background-color: rgb(9, 126, 58);
  color: white;
}
